<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <ul>
        <li><a th:href="@{/params/string(texto='Hola Spring')}">/params/string?texto=Hola Spring</a></li>
        <li><a th:href="@{/params/string(texto='A tope...')}">/params/string?texto=A tope</a></li>

    </ul>

</body>
</html>